<!--
  Generated template for the Canciones page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>canciones</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="openCancionPopOver($event)">
                    <ion-icon name="more"></ion-icon>
                </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content padding>
    <div class="user playlist">
        <img src="{{pl.picture}}" alt="">
    </div>
    <ion-list ion-row>
        <!--<ion-item *ngFor="let son  of songs ">
            <ion-thumbnail item-left>
                <img src="{{son.album.cover}}">
            </ion-thumbnail>
            <h2>{{son.title}}</h2>
            <span>Artista: {{son.artist.name}} Album: {{son.album.title}}</span>
        <audio src="{{son.preview}} " controls></audio>
   
    </ion-item>
    -->

        <player ion-col col-12 col-sm-6 col-md-4 *ngFor="let son  of songs " [titulo]="son.title" [artista]="son.artist.name" [album]="son.album.title" [cover]="son.album.cover" [audioSrc]="son.preview"> </player>



    </ion-list>
</ion-content>